@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
   
}


header{
    background-color: rgba(255, 144, 14, 0.10);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav,li{
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-size: 13px;
    font-weight: 500;
}
nav,ul{
    display: flex;
    gap: 20px;
}
.banner-title{
    color: #131313;
    font-size: 30px;
    font-weight: 600;
}
.entertain-ment{
    text-align: center;
}
.entertain-ment h1{
    font-size: 55px;
    font-weight: 800;
    color: #131313;
}
.entertain-ment p{
    color: #727272;
    text-align: center;
    font-size: 14px;
    font-weight: 400;

}
.btn-primary{
    color: white;
    border-radius: 8px;
    background: #FF900E;
    width: 160px;
    height: 54px;

}
.photo-one{
   height: 400px;
   width: 90%;
   margin-top: 30px;
}

.item-title{
    margin-top: 30px;
}

 /* it is part of two here we desurbe this problem */

 


 .teams-container{
    display: flex;
    align-items: center;
    margin: 70px;
 }
 .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
 }

 .teams-content{
    padding-left: 70px;
    padding-right: 70px;
 }
 .teams-title{
    font-size: 2.8rem;
 }
 .teams-title .quick-list{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
 }
 .teams-title .of-our{
    color: #131313;
    font-size: 50px;
    font-weight: 700;
 }
 .teams-title .features{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
 }
 .teams-description{
    color: #727272;
    font-size: 12px;
    font-weight: 400;
 }
 .banner{
    margin: 70px;
 }

 /* <!-- facts-section-of our life and  --> */
.mother-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

 .son-div{
    width:150px;
    border:2px solid #FF900E;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
 }


 /* <!-- it is a goldern and wounderful part of our life  --> */

 .title-banner{
    text-align: center;
    margin-top:110px;
 }

 /* <!-- one seep up it's means call  the footer section and top up  --> */

 .logo-info{
    display: flex;;
    margin-top: 40px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 40px;
    /* margin-left: 200px;
    margin-right: 200px; */
 }

 .logo-info img {
    width: 120px;
 }

 /* footer{
    text-align: center;
    color: #FFF4E7;
    background-color: #FFF4E7;
    height: 40px;
    width: 700px;
    border: 1px solid #FF900E;
    margin-left: 300px;
 } */

/* it is a middle pat here itd "class=features" */

.features{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-left: 100px;
}
.card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-bottom: 20px;
}
.rendom{
    border-left: 3px solid  #FF900E;
   padding-left: 20px;
}
.ten-years-batch{
    color: white;
    text-align: center;
    height: 120px;
    width: 200px;
    background-color: #FF900E;
    border-radius: 8px;
    position: relative;
    bottom: 100px;
}
.enter-title{
   font-size: 2rem;
}

.into-set{
    height: 90%;
    margin-left: 70px;
}






/* it's for mobile device */

 @media screen and (max-width:576px) {
    .header,nav,.teams-container,.mother-div,.logo-info,.features{ 
            flex-direction: column;
    }
    .into-set{
        width: 100%;
        margin-left: 0;
    }

    .teams-img-container{
            grid-template-columns: 1fr;
    }
}

/* it's for tablet device */

@media screen and (min-width:576px) and (max-width:700px) {
    .header,nav,.teams-container,.mother-div,.logo-info,..features{ 
        flex-direction: column;
    }   
      
}



 
